<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="" id="reg-form">
            <div>
                <h1>Registration</h1>
            </div>
            <div>
                <input type="text"  name="first_name" id="first_name" placeholder="Please enter your first name" required>
                <input type="text"  name="last_name" id="last_name" placeholder="Please Enter your last name" required>
                <input type="email"  name="email" id="email" placeholder="Please enter your email" required>
                <input type="password"  name="password" id="password" placeholder="Please Enter Password" required>
                <input type="submit" value="Register">
            </div>
            
            
            <script>
                const form = document.getElementById('reg-form')
                form.addEventListener('submit', registerUser)
                
                async function registerUser(event) {
                    const first_name = document.getElementById('first_name')
                    const last_name = document.getElementById('last_name')
                    const email = document.getElementById('email')
                    const password = document.getElementById('password')

                    const result = await fetch('/api/register', {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            first_name,
                            last_name,
                            email,
                            password
                        })
                    }).then((res) => res.json())

                    console.log(result)
                }



            </script>
        </form>
    </main>
</body>
</html>